* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 15px ;
    scroll-behavior: smooth;
}

/* css common */

    /* padding */
    .pad-8-16 {
        padding: 8px 16px ;
    }

    .pad-12-24 {
        padding: 12px 24px;
    }

    /* letter-spacing */
    .letspa-4 {
        letter-spacing: 4px !important;
    }

    /* margin */

    .mar-t-35 {
        margin-top: 35px;
    }

    .mar-18-0 {
        margin: 18px 0px;
    }

    .mar-15-0 {
        margin: 15px 0px ;
    }

    

   

    /* text-style */
    .text-color-757575{
        color: #757575;
    }

    .text-center {
        text-align: center;
    }

    .text-justify {
        text-align: justify;
    }

    h1, h2, h3, h4, h5, h6 {
        letter-spacing: 5px;
        font-weight: 400;
        margin: 10px 0px ;
    }

    h4 {
        font-size: 20px ;
    }

    .font-size-18 {
        font-size: 18px ;
    }

    .font-style-ita {
        font-style: italic;
    }

    /* row & col  */
    

    .row::after{
        content:"";
        display: block;
        clear: both;
    }

    .col {
        float: left;
    }

    .col-full {
       width: 100%;
    }

    .col-half {
        width: 50%;
    }


/* main  */
 #main {
    overflow: hidden;
 }

/* header */
#header {
  height: 54px ;
  top: 0px;
  right: 0px;
  left: 0px ;
  position: fixed;
  background-color: #000;
  z-index: 1;
    
}

/* navbar */
#nav {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 8px 16px;
    line-height: 38px ;
}

#nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px ;
    line-height: 22px ;
}

#nav  a:hover {
    background-color: yellow;
    color: #000;
    border-radius: 50px ;
}

#nav .nav-content {
    float: right;
}

#nav .nav-content li {
    display: inline-block;
    
}
 /* slider */
    #slider {
        position: relative;
    }

   #slider .img-slider{
     max-width: 100%;
     height: auto;
     width: 1600px;
     filter: brightness(80%);
    }

    #slider .order-btn {
        position: absolute;
        bottom: 58px;
        border: none;
        border-radius: 50px ;
        background: #000;
        color: #fff;
        font-size: 15px ;
        font-weight: 600;
        left: 40%;
        
    }


    #slider .order-btn:hover {
        background-color: yellow;
        opacity: 0.7;
        color: #000;
    }

    /*content  */

    #content .content-container {
    
    padding: 64px 16px;
    width: 1100px ;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    }

    hr {
        border: 0;
        border-top: 1px solid #eee;
        margin: 20px 0;
    }

    /* about  */
    #content .about-img {
        width: 600px;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        
    }

    #content .content-heading {
        font-size: 36px ;
        line-height: 54px ;
    }

    /* menu */

    #menu-section .menu-img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }

    /* contact */

    #contact-section .form-control {
        border: none;
        border-bottom: 1px solid #ccc ;
        line-height: 38px ;
        outline:none;
    }

    #contact-section .send-btn {
        border: none; 
        background-color: black; 
        color: #fff;
        line-height: 30px ;
        margin: 16px 0px ;
        float: right;
        border-radius: 50px ;
        font-weight: 500;
        min-width: 100px ;
    }
    #contact-section .send-btn:hover {
        background-color: yellow;
        color: #000;
        border: 1px solid #000 ;
        
    }

    /* footer */
    #fooder .footer-section{
        padding: 64px 16px ;
    }

    #fooder .brand-icon i[class*=ti-] {
        font-size: 22px ;
        opacity: 0.7;
       }
   
     #fooder .brand-icon i:hover {
        opacity: 1;
       }
    
    #fooder .sources {
        margin: 15px 0px ;
    }
    
    #fooder .sources a {
      padding: 16px 0px;
      cursor: pointer;
    }
    


    



